body {
	background-color: blue;

}

.buttons {
  	margin-bottom: 5px;
  	display: flex;
  	flex-flow: column wrap;
  	align-items: center;
  	vertical-align: top;
}

.noAccount {
  	margin-bottom: 5px;
  	display: flex;
  	flex-flow: column wrap;
  	align-items: center;
  	vertical-align: top;
}

.a {
	color: white;
}

.skitter {
	margin-bottom: 5px;
	display: flex;
	flex-flow: column wrap;
	vertical-align: top;
	align-items: center;
}

/***/