body {
	background-color: blue;

}

.buttons {
  	margin-bottom: 5px;
  	display: flex;
  	flex-flow: column wrap;
  	align-items: center;
  	vertical-align: top;
}

.noAccount {
  	margin-bottom: 5px;
  	display: flex;
  	flex-flow: column wrap;
  	align-items: center;
  	vertical-align: top;
}

.a {
	color: white;
}

.skitter {
	margin-bottom: 5px;
	display: flex;
	flex-flow: column wrap;
	vertical-align: top;
	align-items: center;
}



.topnav {
	background-color: #213;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 8px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active{
	background-color: #4CAF50;
	color: white;
}

.topnav-right{
	float:right;
}

.skitter_logo {
	background: url('skitter_small.png') left center no-repeat;
	padding-left: 15px;
}

/***/
